<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Prevent direct access to existing files/folders from serving index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route all requests to index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
